section.search-no-results
    .container-fluid
        .search-no-results__inner
            h2.std-title We are sorry, we haven’t made such design yet...
                br
                |You can build it now — we will make it to order
            .search-item
                a(href='#').search-item__inner
                    .search-item__img
                        img.search-item__img-bg(src='static/img/content/search-item-bg.png')
                        .search-item__img-inner
                            img(src='static/img/content/search-item.png')
                            span.search-item__img-text Build your own
                                br
                                strong Design
                    .search-item__btn Upload
                        span.search-item__btn-text my image
