.search-no-results {
    &__inner {
        padding: 0 0 65px 0;
    }
}

.search-item {
    &__inner {
        width: 360px;
        margin: 0 auto;
        display: block;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 410px;
        position: relative;
        &:hover {
            .search-item__img-bg {
                transform: scale(.8);
            }
        }
        &-bg {
            position: absolute;
            transition: transform $color-time;
        }
        &-inner {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                margin: 0 auto 15px;
            }
        }
        &-text {
            width: 100%;
            display: block;
            text-align: center;
            color: #7da747;
            font-size: 29px;
            text-transform: uppercase;
            line-height: 32px;
            font-weight: 700;
            strong {
                font-weight: 900;
            }
        }
    }
    &__btn {
        @extend .std-btn;
        height: 80px;
        text-align: left;
        padding: 0 40px;
        position: relative;
        font-size: 34px;
        margin: 20px auto 0;
        &:after {
            content: '';
            display: block;
            @include center(false,true);
            right: 35px;
            @include bg($search-item-arrow);
        }
        &-text {
            display: block;
            color: #fff;
            width: 100%;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            font-size: 24px;
        }
        &:hover,&:focus {
            color: $accent-color;
            &:after {
                @include bg($search-item-arrow_hover);
            }
            .search-item__btn-text {
                color: $accent-color;
            }
        }
    }
}
