mixin about-page
    +breadcrumbs
    include section-about/section-about
    include section-description/section-description
    include ../main-page/section-we-offer/section-we-offer
    include section-video/section-video
    include section-contacts/section-contacts
