section.card-product
    .container-fluid
        .card-product__inner
            .card-product__slider
                .card-product__slider-layout
                    .card-product__banner.card-product__banner--special
                        span.card-product__banner-text Special offer
                    .card-product__banner.card-product__banner--bestseller
                        span.card-product__banner-text Bestseller
                    .card-product__banner.card-product__banner--new
                        span.card-product__banner-text New
                .card-product__slider-container.easyzoom.easyzoom--with-thumbnails.easyzoom--overlay
                    a(href="static/img/content/i-1.png")
                        img(src="static/img/content/i-1.png")
                ul.card-product__thumbnail
                    li.card-product__thumbnail-item.card-product__thumbnail-item--active
                        a(href='javascript:void(0);' data-standard="static/img/content/i-1-s.png" data-easyzoom='static/img/content/i-1-s.png')
                            img(src="static/img/content/i-1-s.png")
                    li.card-product__thumbnail-item
                        a(href='javascript:void(0);' data-standard="static/img/content/i-2-s.png" data-easyzoom='static/img/content/i-2-s.png')
                            img(src="static/img/content/i-2-s.png")
                    li.card-product__thumbnail-item
                        a(href='javascript:void(0);' data-standard="static/img/content/i-3-s.png" data-easyzoom='static/img/content/i-3-s.png')
                            img(src="static/img/content/i-3-s.png")
                    li.card-product__thumbnail-item
                        a(href='javascript:void(0);' data-standard="static/img/content/i-4-s.png" data-easyzoom='static/img/content/i-4-s.png')
                            img(src="static/img/content/i-4-s.png")
                    li.card-product__thumbnail-item
                        a(href='javascript:void(0);' data-standard="static/img/content/i-5-s.png" data-easyzoom='static/img/content/i-5-s.png')
                            img(src="static/img/content/i-5-s.png")
                    li.card-product__thumbnail-item
                        a(href='javascript:void(0);' data-standard="static/img/content/i-6-s.png" data-easyzoom='static/img/content/i-6-s.png')
                            img(src="static/img/content/i-6-s.png")
            .card-product__content
                .card-product__content-top
                    h1.card-product__content-title Harry Potter and the Deathly Hallows case
                    span.card-product__content-subtitle by Joanna Rowling
                    .card-product__content-rating
                        .rating
                            .rating__item.rating__item--no-click(data-rate='5')
                            .rating__item.rating__item--no-click(data-rate='4')
                            .rating__item.rating__item--no-click(data-rate='3')
                            .rating__item.rating__item--no-click(data-rate='2')
                            .rating__item.rating__item--no-click(data-rate='1')
                        a(href='#').card-product__content-review-link
                            span 3 reviews
                    .card-product__content-color
                        .card-product__content-color-inner
                            span.card-product__content-color-title Inner color
                            .card-product__content-color-array
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop.is-white(data-color='#ffffff')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#808080')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#000000')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#e62020')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#209ee6')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#159318')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#f5f325')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#e69920')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#c418de')
                                        i.fa.fa-check.card-product__content-color-icon
                                label.card-product__content-color-item
                                    input(type='radio' name='color-item')
                                    span.card-product__content-color-prop(data-color='#8c5a0b')
                                        i.fa.fa-check.card-product__content-color-icon
                    .card-product__content-additional
                        .card-product__content-additional-options
                            span.card-product__content-additional-options-title Additional options
                            .card-product__content-additional-options-content
                                .card-product__content-additional-field
                                    label.card-product__content-additional-label
                                        input(type='checkbox')
                                        span.card-product__content-additional-checkbox
                                        span.card-product__content-additional-label-text Add a pocket to organize your essentials -
                                        span.card-product__content-additional-label-text $9.95
                                .card-product__content-additional-field
                                    label.card-product__content-additional-label
                                        input(type='checkbox')
                                        span.card-product__content-additional-checkbox
                                        span.card-product__content-additional-label-text Add handles to carry your device easily -
                                        span.card-product__content-additional-label-text $9.95
                                .card-product__content-additional-field
                                    label.card-product__content-additional-label.card-product__content-additional-label--initial
                                        input(type='checkbox')
                                        span.card-product__content-additional-checkbox.card-product__content-additional-checkbox--initial
                                        span.card-product__content-additional-label-text.card-product__content-additional-label-text--changed Add initials to personalize it with your name -
                                        span.card-product__content-additional-label-text $9.95
                                    .card-product__content-additional-hidden
                                        .card-product__content-additional-hidden-field
                                            input(type='text' placeholder='Enter your initials here...').card-product__content-additional-hidden-input
                                            button.card-product__content-additional-hidden-btn Ok
                                .card-product__content-additional-field
                                    label.card-product__content-additional-label
                                        input(type='checkbox')
                                        span.card-product__content-additional-checkbox
                                        span.card-product__content-additional-label-text Add express order make it ready in 2 days -
                                        span.card-product__content-additional-label-text $9.95
                    .card-product__content-cost
                        .card-product__content-cost-wrap
                            .card-product__content-cost-price
                                span.card-product__content-cost-price--new $45.55
                                strike.card-product__content-cost-price--old $80.22
                            .card-product__content-cost-count
                                span.card-product__content-cost-count-text QTY:
                                +count
                    .card-product__content-add
                        button.card-product__content-add-btn Buy it now
                    .card-product__content-socials
                        .card-product__content-socials-inner
                            .card-product__content-socials-chat
                                a(href='#').card-product__content-socials-chat-link Contact
                            .card-product__content-socials-list
                                a(href='#').card-product__content-socials-list-link.card-product__content-socials-list-link--fb
                                a(href='#').card-product__content-socials-list-link.card-product__content-socials-list-link--twitter
                                a(href='#').card-product__content-socials-list-link.card-product__content-socials-list-link--insta
                                a(href='#').card-product__content-socials-list-link.card-product__content-socials-list-link--in
                                a(href='#').card-product__content-socials-list-link.card-product__content-socials-list-link--pinterest
                .card-product__content-bottom
                    .card-product__content-favorites
                        button.card-product__content-favorites-btn
                            span.card-product__content-favorites-btn-text 199
                            span.card-product__content-favorites-btn-text Favorite
                        span.card-product__content-favorites-text
                            strong Like this item?
                            | Addit to your favourites to revisit it later.
