doctype html
html(class="no-js", lang="ru")

    //- include head
    include ../components/head/head

    //- include _global-modules
    include ../components/_modules/_global/header-second/header-second
    include ../components/_modules/_global/footer/footer
    include ../components/_modules/_global/top-line/top-line
    include ../components/_modules/_global/popup-login/popup-login
    include ../components/_modules/_global/cart-fav-blocks/cart-fav-block
    include ../components/_modules/_global/online-support/online-support

    //- include _situations-modules
    include ../components/_modules/_other-parts/rating/rating
    include ../components/_modules/_situations/breadcrumbs/breadcrumbs
    include ../components/_modules/_other-parts/count/count
    include ../components/_modules/_other-parts/main-product-slider/main-product-slider
    include ../components/_modules/_other-parts/self-tabs/self-tabs

    //- include page-template
    include ../components/_pages/reviews-page/reviews-page


    head
        +head(head.defaults)

    body.page
        |%=symbols=%

        +top-line
        //header
        +header
        +g-block

        section.page__wrapper

            //page
            +reviews-page

        //footer
        +footer

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')


        //- other scripts

        //- common (always last)
        script(src='%=static=%js/separate-js/common.js')

