.card-product {
    margin-bottom: 40px;
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__slider {
        width: 750px;
        margin-right: 30px;
        flex: 0 0 auto;
        &-layout {
            position: relative;
            z-index: 2;
        }
        &-container {
            width: 750px;
            height: 650px;
            &:hover {
                img {
                    max-width: none;
                }
            }
            a {
                pointer-events: none;
                display: flex;
                height: 100%;
                width: 100%;
                align-items: center;
                overflow: hidden;
                justify-content: center;
            }
            img {
                max-width: 100%;
            }
        }
    }
    &__banner {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 130px;
        height: 30px;
        &-text {
            color: #fff;
            font-weight: 700;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
            display: block;
        }
        &--special {
            background-color: $accent-color;

        }
        &--bestseller {
            background-color: $accent-color-3;
        }
        &--new {
            background-color: $accent-color-2;
        }
    }
    &__thumbnail {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &-item {
            width: 230px;
            height: 160px;
            background-color: #fff;
            border: 1px solid #e8e8e8;
            position: relative;
            margin-bottom: 30px;
            &--active {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#7da747,.75)
                }
            }
        }
        a {
            display: block;
        }
    }

    &__content {
        &-top {
            background-color: #f4f4f4;
            border-radius: 3px;
            width: 100%;
            padding: 30px 125px 40px;
            margin-bottom: 30px;
        }
        &-bottom {
            background-color: #f4f4f4;
            border-radius: 3px;
            width: 100%;
            padding: 24px 80px;
        }
        &-title {
            color: #000;
            font-weight: 700;
            font-size: 36px;
            margin: 0 0 25px 0;
        }
        &-subtitle {
            color: #000;
            font-weight: 700;
            font-size: 24px;
            display: block;
        }
        &-rating {
            margin: 28px 0;
            display: flex;
            align-items: center;
        }
        &-review {
            &-link {
                color: $accent-color;
                margin-left: 15px;
                font-weight: 700;
                display: block;
                font-size: 18px;
                line-height: 27px;
                text-decoration: underline;
                &:hover,&:focus {
                    text-decoration: none;
                    color: $accent-color;
                }
            }
        }
        &-search {
            &-sizes {
                margin-top: 30px;
                 &-title {
                     display: flex;
                     align-items: center;
                     &-text {
                         position: relative;
                         white-space: nowrap;
                         color: #6a6a6a;
                         font-weight: 700;
                         font-size: 24px;
                         line-height: 27px;
                         margin: 0 20px;
                     }
                     &:after,&:before {
                         content: '';
                         display: inline-block;
                         width: 100%;
                         height: 2px;
                         background-color: $border-color;
                         border-radius: 1px;
                     }
                 }
            }
            &-input {
                @extend .std-input;
                width: 150px;
                text-align: center;
                &-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 25px 0;
                }
            }
        }
        //- options color
        &-color {
            &-title {
                color: #6a6a6a;
                font-weight: 700;
                display: block;
                margin-bottom: 15px;
                font-size: 24px;
                line-height: 27px;
            }
            &-array {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            &-item {
                margin-right: 10px;
                display: block;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
            }
            input[type=radio],input[type=checkbox] {
                display: none;
            }
            &-prop {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: block;
                border: 3px solid transparent;
                position: relative;
                &:after {
                    color: #000000;
                }
                &.is-white {
                    background-color: #fff;
                    border-color: $border-color;
                }
            }
            &-icon {
                font-size: 26px;
                padding: 2px;
                @include center;
                display: block;
            }
            input[type=radio]:checked + .is-white {
                background-color: #f4f4f4;
                border: 3px solid $border-color;
                .card-product__content-color-icon {
                    border: 2px solid #fff;
                    border-radius: 50%;
                }

            }
            input[type=checkbox]:checked + .is-white {
                background-color: #f4f4f4;
                border: 3px solid $border-color;
                .card-product__content-color-icon {
                    border: 2px solid #fff;
                    border-radius: 50%;
                }

            }
        }
        //- options additional
        &-additional {
            margin-top: 20px;
            &-options {
                &-title {
                    color: $accent-color;
                    line-height: 27px;
                    font-weight: 700;
                    font-size: 24px;
                    display: inline-block;
                    position: relative;
                    padding-right: 15px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    &:after {
                        content: '\f0d7';
                        @include center(false,true);
                        right: 0;
                        font-family: FontAwesome, sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        color: $accent-color;
                    }
                    &.is-down {
                        &:after {
                            content: '\f0d8';
                        }
                    }
                }
                &-content {
                    display: none;
                }
            }
            &-field {
                padding: 15px 0;
                position: relative;
            }
            &-label {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin: 0;
                &-text {
                    color: $main-color;
                    font-family: $open-font;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    &:last-child {
                        margin-left: 5px;
                    }
                }
            }
            input[type=checkbox] {
                display: none;
            }
            &-checkbox {
                width: 22px;
                height: 22px;
                background-color: #fff;
                border: 1px solid $border-color;
                border-radius: 3px;
                flex: 0 0 auto;
                display: block;
                position: relative;
                margin-right: 10px;
                &.is-checked {
                    &:after {
                        content: '\f00c';
                        display: block;
                        @include center;
                        font-family: FontAwesome, sans-serif;
                        color: $accent-color-2;
                    }
                }
            }
            input[type=checkbox]:checked + .card-product__content-additional-checkbox:not(.card-product__content-additional-checkbox--initial) {
                border-color: $accent-color-2;
                &:after {
                    content: '\f00c';
                    display: block;
                    @include center;
                    font-family: FontAwesome, sans-serif;
                    color: $accent-color-2;
                }
            }
            &-hidden {
                position: absolute;
                z-index: 9;
                width: 100%;
                background-color: #f4f4f4;
                top: 50%;
                left: 30px;
                transform: translateY(-50%);
                display: none;
                &-field {
                    width: 360px;
                    display: flex;
                    position: relative;
                }
                &-input {
                    @extend .std-input;
                    padding: 0 100px 0 20px;
                }
                &-btn {
                    @extend .std-btn;
                    width: 90px;
                    text-transform: uppercase;
                    position: absolute;
                    right: 0;
                    z-index: 2;
                    padding: 0 2px;
                }
                &.is-active {
                    display: block;
                }
            }
        }
        //- options cost
        &-cost {
            margin-bottom: 25px;
            &-wrap {
                display: flex;
                align-items: center;
            }
            &-price {
                font-weight: 700;
                position: relative;
                padding-right: 25px;
                &:after {
                    content: '';
                    display: block;
                    right: 0;
                    @include center(false,true);
                    width: 1px;
                    height: 33px;
                    background-color: $border-color;
                }
                &--new {
                    color: #f9a61a;
                    font-size: 40px;
                }
                &--old {
                    color: #a4a4a4;
                    font-size: 26px;
                    line-height: 27px;
                    margin-left: 10px;
                }
            }
            &-count {
                padding-left: 25px;
                display: flex;
                align-items: center;
                &-text {
                    color: #6a6a6a;
                    font-weight: 700;
                    margin-right: 20px;
                    font-size: 24px;
                    line-height: 27px;
                }
            }
        }
        //- button add to cart
        &-add {
            margin-bottom: 25px;
            &-btn {
                @extend .std-btn;
                width: 360px;
                line-height: 30px;
            }
        }
        //- socials
        &-socials {
            &-inner {
                display: flex;
                align-items: center;
            }
            &-chat {
                position: relative;
                padding-right: 25px;
                &:after {
                    content: '';
                    display: block;
                    @include center(false,true);
                    right: 0;
                    width: 2px;
                    height: 33px;
                    background-color: $border-color;
                }
                &-link {
                    color: #33bddf;
                    font-family: $open-font;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 27px;
                    display: inline-block;
                    position: relative;
                    &:before {
                        content: '';
                        margin-right: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        @include bg($chat);
                    }
                    &:hover,&:focus {
                        text-decoration: underline;
                        color: $accent-color;
                    }
                }
            }
            &-list {
                margin-left: 10px;
                display: flex;
                &-link {
                    display: block;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: background-color $color-time;
                    &:after {
                        content: '';
                        display: block;
                        @include center;
                        font-family: FontAwesome, sans-serif;
                        color: $accent-color;
                        font-size: 23px;
                        font-weight: 400;
                        transition: background-color $color-time;
                    }
                    &:hover {
                        background-color: $accent-color;
                        &:after {
                            color: #fff;
                        }
                    }
                    &--fb {
                        &:after {
                            content: '\f09a';
                        }
                    }
                    &--twitter {
                        &:after {
                            content: '\f099';
                        }
                    }
                    &--insta {
                        &:after {
                            content: '\f16d';
                        }
                    }
                    &--in {
                        &:after {
                            content: '\f0e1';
                        }
                    }
                    &--pinterest {
                        &:after {
                            content: '\f231';
                        }
                    }
                }
            }
        }

        &-favorites {
            display: flex;
            align-items: center;
            &-btn {
                width: 214px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #33bddf;
                border-radius: 3px;
                display: block;
                text-align: center;
                margin-right: 20px;
                &:before {
                    content: '\f004';
                    display: inline-block;
                    font-family: FontAwesome, sans-serif;
                    color: $accent-color;
                    font-size: 24px;
                    margin-right: 5px;
                }
                &-text {
                    color: $accent-color;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 27px;
                    display: inline-block;
                    &:first-child {
                        margin: 0 5px;
                    }
                }
            }
            &-text {
                display: block;
                line-height: 32px;
                color: #6a6a6a;
                font-family: $open-font;
                font-size: 18px;
                font-weight: 400;
                strong {
                    display: block;
                    font-weight: 700;
                }
            }
        }

        .select2-selection--single {
            width: 100%;
            height: 50px;
            background-color: #fff;
            border: 1px solid $border-color;
            border-radius: 24px;
            outline: none;
            padding: 0 50px 0 30px;
        }
        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: #bfbfbf;
            font-family: $open-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 48px;
        }
        .select2-container {
            width: 100%!important;
            height: 50px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            width: 50px;
            height: 50px;
            border: 1px solid #33bddf;
            border-radius: 24px;
            z-index: 1053;
            b {
                border-color: $accent-color transparent transparent transparent;
                border-style: solid;
                border-width: 11px 9px 0 9px;
                width: 0;
                height: 0;
                @include center;
                margin: 0;
            }
        }
        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent $accent-color transparent;
            border-style: solid;
            border-width: 0 9px 11px 9px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 48px;
            font-family: $open-font;
            font-size: 18px;
            padding: 0;
            font-weight: 400;
        }
        .select2-container--default .select2-selection--single .select2-selection__clear {
            width: 20px;
        }
    }
}

.easyzoom {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.easyzoom img {
    vertical-align: bottom;
}

.easyzoom.is-loading img {
    cursor: progress;
}

.easyzoom.is-ready img {
    cursor: crosshair;
}

.easyzoom.is-error  img {
    cursor: not-allowed;
}

.easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
    position:absolute;
    z-index: 100;
    overflow: hidden;
    background: #FFF;
}

.easyzoom--overlay .easyzoom-flyout {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-hidden {
    display: none;
    &__values {

    }
}
