.not-found {
    text-align: center;
    padding: 70px 0 80px;
    .std-title {
        margin: 40px 0 25px;
        span {
            color: $main-color;
            font-weight: 700;
            line-height: 36px;
            font-size: 24px;
            display: block;
            text-align: center;
        }
    }
    &__btn {
        @extend .std-btn;
        margin: 0 auto;
    }
    &__return {
        color: $accent-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        text-decoration: underline;
        display: inline-block;
        margin-top: 25px;
    }
}
