mixin not-found-page
    .std-block.not-found
        .container-fluid
            .not-found__inner
                img(src='static/img/content/404.png')
                h2.std-title Oops, this page doesn’t exist…
                    span But using our constructor you will be able to
                    span build o case for your device
                a.not-found__btn(href='#') Build a case
                a.not-found__return(href='#') Go to main page
