.canvas-block {
    padding: 60px 0 40px;
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    //- options
    &__options {
        width: 520px;
        flex: 0 0 auto;
        &-inner {
            margin-right: 30px;
            position: relative;
        }
        &-top {
            padding: 0 50px;
        }
        //- select
        &-select {
            margin-bottom: 30px;
            width: 390px;
            height: 60px;
            background-color: $accent-color;
            border-radius: 3px;
            border: none;
            position: relative;
            outline: none;
            padding: 0 60px 0 30px;
            &.is-active {
                .canvas-block__options-select-arrow {
                    &:after {
                        border-color: transparent transparent #fff transparent;
                        border-width: 0 7px 8px 7px;
                    }
                }
                .canvas-block__options-select-drop {
                    display: block;
                }
            }
            &-text {
                color: #fff;
                font-weight: 700;
                font-size: 24px;
                line-height: 60px;
                display: block;
            }
            &-arrow {
                @include center(false,true);
                right: 0;
                width: 60px;
                height: 60px;
                display: block;
                &:after {
                    content: '';
                    display: block;
                    @include center;
                    height: 0;
                    width: 0;
                    border-style: solid;
                    border-color: #fff transparent transparent transparent;
                    border-width: 8px 7px 0 7px;
                }
            }
            &-drop {
                display: none;
                width: 390px;
                background-color: #f5f5f5;
                position: absolute;
                left: 0;
                top: 100%;
                border-radius: 3px;
                padding: 0 60px 0 30px;
                z-index: 3;
                &-item {
                    line-height: 60px;
                    width: 100%;
                    color: #6a6a6a;
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }
        &-choice {
            &-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &-title {
                display: block;
                width: 100%;
                color: $accent-color;
                font-weight: 700;
                font-size: 24px;
                line-height: 27px;
                text-align: center;
            }
            &-wrap {
                &-inner {
                    width: 180px;
                    height: 130px;
                    background-color: #fff;
                    border: 3px solid $accent-color;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    input[type=file] {
                        display: none;
                    }
                }
            }
            &-img {

            }
            &-text {
                &-img {

                }

            }
        }
        //- control
        &-control {
            margin: 30px 0;
            &-method {
                margin-bottom: 20px;
                &-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                &-wrap {
                    position: relative;
                }
                &-title {
                    color: $accent-color-2;
                    font-weight: 700;
                    display: block;
                    font-size: 24px;
                }
                &-output {
                    width: 100%;
                    text-align: center;
                    display: block;
                    position: absolute;
                    color: $main-color;
                    font-weight: 700;
                    font-size: 18px;
                    top: 25px;
                }
                .noUi-target {
                    border-color: $accent-color;
                    margin: 0;
                }
            }
        }
        //- color
        &-color {
            margin: 65px 0 0 0;
            position: relative;
            &-inner {
                display: flex;
                flex-wrap: wrap;
            }
            &-item {
                width: 50%;
                margin-bottom: 40px;
                &-inner {
                    display: block;
                }
                &-img {
                    &-value {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        display: block;
                        margin: 0 auto 10px;
                        background-color: $border-color;
                        border: 1px solid transparent;
                        &--velvet {
                            background-color: #ff0000;
                        }
                        &--cover {
                            background-color: #8c5a0b;
                        }
                        &--spine {
                            background-color: #8c5a0b;
                        }
                        &--thread {
                            background-color: #ff0000;
                        }
                    }
                }
                &-text {
                    &-value {
                        color: $main-color;
                        font-weight: 700;
                        font-size: 24px;
                        text-align: center;
                        display: block;
                    }
                }
            }
            &-hidden {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #f4f4f4;
                border: 1px solid #e6e6e6;
                border-radius: 3px;
                padding: 50px 80px 50px;
                z-index: 3;
                &.is-active {
                    display: block;
                }
                &-title {
                    color: $main-color;
                    font-weight: 700;
                    text-align: center;
                    font-size: 24px;
                    margin: 0 0 20px 0;
                }
                &-control {
                    margin-top: 20px;
                    &-inner {
                        display: flex;
                        align-items: center;
                    }
                    &-btn {
                        color: $accent-color;
                        font-weight: 700;
                        font-size: 24px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        padding: 0;
                        margin: 0 auto;
                    }
                }
                .card-product__content-color-prop {
                    width: 50px;
                    height: 50px;
                }
                .card-product__content-color-item {
                    margin: 0 7.5px 20px;
                }
                .card-product__content-color-icon {
                    font-size: 36px;
                }
            }
        }
        //- text edit
        &-text {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f4f4f4;
            border: 1px solid #e6e6e6;
            border-radius: 3px;
            z-index: 3;
            padding: 30px 50px;
            &.is-edit {
                display: block;
            }
        }
    }
    //- canvas area
    &__draw {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        width: calc(100% - 520px);
        height: 800px;
    }
    &__controls {
        margin-top: 30px;
        width: 100%;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &-btn {
            margin-left: 70px;
            &--change,&--clear {
                color: $accent-color;
                font-weight: 700;
                display: block;
                font-size: 24px;
                position: relative;
                padding-left: 50px;
                &:after {
                    content: '';
                    display: block;
                    @include center(false,true);
                    left: 0;
                }
                &:hover {
                    color: $accent-color;
                    text-decoration: underline;
                }
            }
            &--change {
                &:after {
                    @include bg($change-device);
                }
            }
            &--clear {
                &:after {
                    @include bg($clear-ico);
                }
            }
            &--next {
                @extend .std-btn;
                width: 190px;
                line-height: 48px;
            }
        }
    }
}

.text-module {
    &__title {
        color: $accent-color-2;
        font-weight: 700;
        text-align: center;
        display: block;
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 22px;
    }
    &__edit-text {
        margin-bottom: 30px;
        &-textarea {
            @extend .std-input;
            width: 290px;
            height: 100px;
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid transparent;
            margin: 0 auto;
            display: block;
            padding: 20px 30px;
            outline: none;
        }
    }
    &__edit-font {
        &-list {
            width: 290px;
            height: 50px;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 24px;
            padding: 0 60px 0 30px;
            position: relative;
            margin: 0 auto;
            cursor: pointer;
            &.is-active {
                background-color: #fff;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                .text-module__edit-font-list-drop {
                    display: block;
                }
                .text-module__edit-font-list-arrow {
                    &:after {
                        border-color: transparent transparent $accent-color transparent;
                        border-width: 0 9px 11px 9px;
                    }
                }
            }
            &-text {
                color: $main-color;
                font-family: $open-font;
                font-size: 18px;
                font-weight: 400;
                line-height: 50px;
            }
            &-arrow {
                width: 50px;
                height: 50px;
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid $accent-color;
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    @include center;
                    display: block;
                    border-style: solid;
                    border-color: $accent-color transparent transparent transparent;
                    border-width: 11px 9px 0 9px;
                }
            }
            &-drop {
                display: none;
                position: absolute;
                top: 49px;
                left: 0;
                width: 100%;
                background-color: #fff;
                padding: 10px 0;
                z-index: 3;
                &-item {
                    color: $main-color;
                    font-family: $open-font;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 5px 60px 5px 30px;
                }
            }
        }
    }
    &__edit-other {
        margin: 55px 0 50px;
        &-inner {
            display: flex;
            align-items: center;
            width: 290px;
            margin: 0 auto;
            justify-content: space-between;
        }
        &-btn {
            width: 50px;
            height: 50px;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 50%;
            display: block;
            padding: 0;
            color: $accent-color;
            font-weight: 700;
            font-size: 30px;
            line-height: 54px;
            position: relative;
            cursor: pointer;
            transition: background-color $color-time, border-color $color-time;
            &:hover,&:focus,&--active {
                background-color: #ffba00;
                color: #fff;
                border-color: #ffba00;
            }
            input {
                display: none;
            }

            &--center {
                &:after {
                    content: '';
                    display: block;
                    @include center;
                    @include bg($center-ico);
                }
                &:hover,&:focus {
                    &:after {
                        @include bg($center-ico_hover);
                    }
                }
            }
            &--color {
                margin: 0;
                &:after {
                    content: '';
                    display: block;
                    @include center;
                    @include bg($color-ico);
                }
                &:hover,&:focus {
                    &:after {
                    @include bg($color-ico_hover);
                    }
                }
            }
        }
    }
    &__buttons {
        &-inner {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-btn {
            color: $accent-color;
            font-weight: 700;
            display: block;
            font-size: 24px;
            padding: 0;
            margin: 0 30px;
            outline: none;
            border: none;
            background: none;
        }
    }

}

.device {
    &-block {
        width: 100%;
        height: 100%;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.75);
        //display: none;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__content {
            padding: 50px 30px;
            width: 810px;
            background-color: #fff;
            z-index: 10000;
            top: 20%;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
        }
    }
    &-item {
        padding: 0 15px;
        &__inner {
            width: 230px;
            height: 230px;
            display: block;
            position: relative;
            img {
                display: none;
            }
            &:hover {
                .device-item__img-bg {
                    display: block;
                }
                .device-item__img-text {
                    color: $accent-color-2;
                }
                .device-item__img-inner {
                    &--phone {
                        &:after {
                            @include bg($mobile-bg_hover);
                        }
                    }
                    &--tablet {
                        &:after {
                            @include bg($tablet-bg_hover);
                        }
                    }
                    &--laptop {
                        &:after {
                            @include bg($laptop-bg_hover);
                        }
                    }
                }
            }
        }
        &__img {
            position: relative;
            height: 100%;
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            &-bg {
                position: absolute;
                display: none;
            }
            &-inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:after {
                    content: '';
                    display: block;
                    transform: translate(0,-10%);
                }
                &--phone {
                    &:after {
                        @include bg($mobile-bg);
                    }
                }
                &--tablet {
                    &:after {
                        @include bg($tablet-bg);
                    }
                }
                &--laptop {
                    &:after {
                        @include bg($laptop-bg);
                    }
                }
            }
            &-main {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-text {
                color: $main-color;
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;
                display: block;
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
}


#mainCanvas {
    border: 1px solid #333;
}

#canvasWrap {
    width: 100%;
    height: 800px;
}
