mixin canvas-page
    .canvas-block
        .container-fluid
            .canvas-block__inner
                .canvas-block__options
                    .canvas-block__options-inner
                        .canvas-block__options-top
                            .canvas-block__options-select
                                span.canvas-block__options-select-text Inside elastic bands
                                span.canvas-block__options-select-arrow
                                .canvas-block__options-select-drop
                                    .canvas-block__options-select-drop-item Inside elastic bands
                                    .canvas-block__options-select-drop-item On the back cover
                                    .canvas-block__options-select-drop-item Both on the front & back
                            .canvas-block__options-choice
                                .canvas-block__options-choice-inner
                                    .canvas-block__options-choice-wrap
                                        label.canvas-block__options-choice-wrap-inner.canvas-block__options-choice-wrap-inner--upload
                                            input#imgUpload(type='file' accept="image")
                                            img(src='static/img/content/canvas-img-options.png')
                                            span.canvas-block__options-choice-title Add image
                                    .canvas-block__options-choice-wrap
                                        a(href='#').canvas-block__options-choice-wrap-inner.canvas-block__options-choice-wrap-inner--edit-text
                                            .canvas-block__options-choice-text-img
                                                img(src='static/img/content/canvas-text-options.png')
                                            span.canvas-block__options-choice-title Add text
                            .canvas-block__options-control
                                .canvas-block__options-control-method
                                    .canvas-block__options-control-method-inner
                                        span.canvas-block__options-control-method-title Scale
                                        .canvas-block__options-control-method-wrap
                                            .canvas-block__options-control-method-scale
                                            span.canvas-block__options-control-method-output.canvas-block__options-control-method-output-scale

                                .canvas-block__options-control-method
                                    .canvas-block__options-control-method-inner
                                        span.canvas-block__options-control-method-title Rotate
                                        .canvas-block__options-control-method-wrap
                                            .canvas-block__options-control-method-rotate
                                            span.canvas-block__options-control-method-output.canvas-block__options-control-method-output-rotate

                        .canvas-block__options-color
                            .canvas-block__options-color-inner
                                mixin cb-i(data)
                                    .canvas-block__options-color-item
                                        a(href='#').canvas-block__options-color-item-inner
                                            .canvas-block__options-color-item-img
                                                span.canvas-block__options-color-item-img-value(class= data.cls)
                                            .canvas-block__options-color-item-text
                                                span.canvas-block__options-color-item-text-value= data.text
                                        .canvas-block__options-color-hidden
                                            h3.canvas-block__options-color-hidden-title Title was here
                                            .card-product__content-color
                                                .card-product__content-color-inner
                                                    .card-product__content-color-array
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop.is-white(data-color='#ffffff')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#808080')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#000000')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#e62020')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#209ee6')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#159318')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#f5f325')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#e69920')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#c418de')
                                                                i.fa.fa-check.card-product__content-color-icon
                                                        label.card-product__content-color-item
                                                            input(type='radio' name='color-item')
                                                            span.card-product__content-color-prop(data-color='#8c5a0b')
                                                                i.fa.fa-check.card-product__content-color-icon
                                            .canvas-block__options-color-hidden-control
                                                .canvas-block__options-color-hidden-control-inner
                                                    button.canvas-block__options-color-hidden-control-btn.canvas-block__options-color-hidden-control-btn-cancel Cancel
                                                    button.canvas-block__options-color-hidden-control-btn.canvas-block__options-color-hidden-control-btn-apply Apply

                                +cb-i({text: 'Inside velvet', cls: 'canvas-block__options-color-item-img-value--velvet'})
                                +cb-i({text: 'Back cover', cls: 'canvas-block__options-color-item-img-value--cover'})
                                +cb-i({text: 'Spine & zipper pulls', cls: 'canvas-block__options-color-item-img-value--spine'})
                                +cb-i({text: 'Thread', cls: 'canvas-block__options-color-item-img-value--thread'})
                        .canvas-block__options-text
                            .text-module
                                .text-module__edit-text
                                    span.text-module__title Your text
                                    textarea.text-module__edit-text-textarea(placeholder='Enter text')#edit-text
                                .text-module__edit-font
                                    span.text-module__title Font
                                    .text-module__edit-font-list#change-font
                                        span.text-module__edit-font-list-text(style='font-family: Helvetica' data-style='30px Helvetica') Helvetica
                                        span.text-module__edit-font-list-arrow
                                        .text-module__edit-font-list-drop
                                            .text-module__edit-font-list-drop-item(style='font-family: Helvetica' data-style='30px Helvetica') Helvetica
                                            .text-module__edit-font-list-drop-item(style='font-family: Roboto Condensed' data-style='30px Roboto Condensed') Roboto Condensed
                                            .text-module__edit-font-list-drop-item(style='font-family: Chewy' data-style='30px Chewy') Chewy

                                .canvas-block__options-control
                                    .canvas-block__options-control-method
                                        .canvas-block__options-control-method-inner
                                            span.canvas-block__options-control-method-title Scale
                                            .canvas-block__options-control-method-wrap
                                                .canvas-block__options-control-method-scale-text
                                                span.canvas-block__options-control-method-output.canvas-block__options-control-method-output-text-scale.canvas-block__options-control-method-output-scale

                                    .canvas-block__options-control-method
                                        .canvas-block__options-control-method-inner
                                            span.canvas-block__options-control-method-title Rotate
                                            .canvas-block__options-control-method-wrap
                                                .canvas-block__options-control-method-rotate-text
                                                span.canvas-block__options-control-method-output.canvas-block__options-control-method-output-text-rotate.canvas-block__options-control-method-output-rotate
                                .text-module__edit-other
                                    .text-module__edit-other-inner
                                        button.text-module__edit-other-btn.text-module__edit-other-btn--weight B
                                        button.text-module__edit-other-btn.text-module__edit-other-btn--italic /
                                        button.text-module__edit-other-btn.text-module__edit-other-btn--center
                                        label.text-module__edit-other-btn.text-module__edit-other-btn--color
                                            input(type='color' value='#000000')#edit-color
                                .text-module__buttons
                                    .text-module__buttons-inner
                                        button.text-module__buttons-btn.text-module__buttons-btn--cancel Cancel
                                        button.text-module__buttons-btn.text-module__buttons-btn--apply Apply

                .canvas-block__draw
                    canvas#our-canvas Your browser does not support the HTML 5 Canvas.
                .canvas-block__controls
                    .canvas-block__controls-inner
                        a(href='#').canvas-block__controls-btn.canvas-block__controls-btn--change Change device
                        a(href='#').canvas-block__controls-btn.canvas-block__controls-btn--clear Clear
                        a(href='#').canvas-block__controls-btn.canvas-block__controls-btn--next Next

        .device-block
            .device-block__content
                h2.std-title Choose device
                .device-block__inner
                    .device-item
                        a(href='#').device-item__inner
                            img#phoneImg(src='static/img/content/cnv-bg.png')
                            .device-item__img
                                img.device-item__img-bg(src='static/img/content/device-bg.png')
                                .device-item__img-inner.device-item__img-inner--phone
                                    span.device-item__img-text Phone
                    .device-item
                        a(href='#').device-item__inner
                            img#tabletImg(src='static/img/content/cnv-bg.png')
                            .device-item__img
                                img.device-item__img-bg(src='static/img/content/device-bg.png')
                                .device-item__img-inner.device-item__img-inner--tablet
                                    span.device-item__img-text Tablet
                    .device-item
                        a(href='#').device-item__inner
                            img#computerImg(src='static/img/content/cnv-bg.png')
                            .device-item__img
                                img.device-item__img-bg(src='static/img/content/device-bg.png')
                                .device-item__img-inner.device-item__img-inner--laptop
                                    span.device-item__img-text Laptop
