.mission {
    min-height: 400px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        max-width: 750px;
        width: 100%;
        border: 3px solid #fff;
        padding: 15px 25px;
        color: #fff;
        &-title {
            color: #fff;
            font-weight: 700;
            margin: 0;
            font-size: 24px;
        }
        &-text {
            color: #fff;
            font-family: $open-font;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            line-height: 27px;
        }
    }
}
