section.mission(style='background: transparent url(static/img/content/m-1.jpg) no-repeat center / cover')
    .container-fluid
        .mission__inner
            .mission__content
                h4.mission__content-title Mission
                p.mission__content-text Lorem  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
