mixin sign-up-1
    section.sign-up(style='background: transparent url(static/img/content/sign-up-bg.jpg) no-repeat center / cover')
        .container-fluid
            h2.std-title Sign up
            .sign-up__step-wrap
                span.sign-up__step.sign-up__step--one.sign-up__step--active Step
                    span.sign-up__step-count 1
                span.sign-up__step.sign-up__step--two Step
                    span.sign-up__step-count 2
            form.f-block#step1
                .f-block__inner
                    .f-block__field
                        input.f-block__input(placeholder='Name' name='name')
                    .f-block__field
                        input.f-block__input(placeholder='Telephone' name='phone')
                    .f-block__field
                        input.f-block__input(placeholder='Email' name='email')
                    .f-block__field
                        input.f-block__input(placeholder='Password' name='password')
                    .f-block__field
                        label.f-block__remember
                            input(type='checkbox')
                            span.f-block__remember-input
                            | Subscribe to newsletter
                    input.f-block__submit(type='submit' value='Create account')

                    .f-block__line
                        span.f-block__line-text or
                    .f-block__social
                        a.f-block__social-link.f-block__social-link--facebook(href='#') Log in with Facebook
                        a.f-block__social-link.f-block__social-link--google(href='#') Log in with Google Plus
                    p.f-block__text We'll never post anything in your social
                        br
                        | acounts without your permission.
