.sign-up {
    padding: 10px 0 90px 0;
    .f-block {
        width: 490px;
        background-color: #f5f5f5;
        border-radius: 3px;
        margin: 0 auto;
        padding: 30px 30px 40px 30px;
        &__text {
            margin-bottom: 0;
        }
        &__input {
            padding: 0 30px;
        }
        &__remember {
            cursor: pointer;
        }
    }
    &__step {
        color: #6a6a6a;
        font-weight: 700;
        font-size: 24px;
        display: flex;
        align-items: center;
        position: relative;
        &:first-child {
            padding-right: 55px;
            margin-right: 20px;
            &:after {
                content: '';
                display: block;
                @include center(false,true);
                @include bg($ar-r);
                right: 0;

            }
        }
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: -15px;
        }
        &-count {
            color: #6a6a6a;
            font-weight: 700;
            font-size: 16px;
            display: block;
            margin-left: 10px;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            border: 2px solid #6a6a6a;
            text-align: center;
            flex: 0 0 auto;
        }
        &--active {
            color: $accent-color-2;
            .sign-up__step-count {
                color: $accent-color-2;
                border-color: $accent-color-2;
            }
        }
    }
}
