mixin sign-up-2
    section.sign-up(style='background: transparent url(static/img/content/sign-up-bg.jpg) no-repeat center / cover')
        .container-fluid
            h2.std-title Sign up
            .sign-up__step-wrap
                span.sign-up__step.sign-up__step--one Step
                    span.sign-up__step-count 1
                span.sign-up__step.sign-up__step--two.sign-up__step--active Step
                    span.sign-up__step-count 2
            form.f-block.std-select#step2
                .f-block__inner
                    .f-block__field
                        input.f-block__input(placeholder='Address line 1' name='address1')
                    .f-block__field
                        input.f-block__input(placeholder='Address line 2' name='address2')
                    .f-block__field
                        select.f-block__select.std-select--state
                            option
                            option Ukraine
                            option USA
                            option New-York
                    .f-block__field
                        select.f-block__select.std-select--country
                            option
                            option Zaporozhzhye
                            option Dnepr
                            option Kyiv
                    .f-block__field
                        input.f-block__input(placeholder='City' name='city')
                    .f-block__field
                        input.f-block__input(placeholder='Zip code' name='zipcode')
                    input.f-block__submit(type='submit' value='Add address')
                    .f-block__line
                        span.f-block__line-text or
                    span.f-block__skip
                        a(href='#') Skip
