.c-cabinet {
    padding: 50px 0 70px 0;
    
    &__in {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    &__aside {
        width: 360px;
        flex: none;
        margin-right: 30px;
    }
    
    &__main {
        width: 100%;
    }
}

.c-cabinet-panel {
    
    &__title {
        height: 50px;
        background-color: $accent-color-2;
        padding: 0 10px;
        span {
            display: block;
            text-align: center;
            color: #fff;
            font-weight: 700;
            margin: 0;
            line-height: 50px;
            font-size: 24px;
        }
    }
    
    &__login {
        background-color: #f5f5f5;
        padding: 25px 34px;
        
        span {
            font-size: 24px;
            color: #000;
            display: block;
            font-weight: 300;
            line-height: 28px;
        }
        
    }
    
    &__footer {
        background-color: #f5f5f5;
        padding-bottom: 50px;
    }
    
    &__phone {
        padding: 20px 0;
        width: 100%;
        text-align: center;
        a {
            display: inline-block;
            color: #000;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            
            &:before {
                content: '';
                display: inline-block;
                margin-right: 10px;
                @include bg($c-phone-ico);
                vertical-align: top;
            }
            
            &:hover,&:focus {
                color: $accent-color-2;
            }
        }
    }
    
    &__support {
        text-align: center;
        a {
            @extend .std-btn;
            display: inline-block;
            width: 270px;
        }
    }
}

.c-cabinet-nav {
    margin: 1px 0;
    
    &__item {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    
    &__link {
        padding: 12px 34px 11px 34px;
        background-color: #e6e6e6;
        color: #000;
        font-weight: 700;
        display: block;
        font-size: 24px;
        line-height: 27px;
        
        &:before {
            content: '';
            display: inline-block;
            margin-right: 10px;
        }
        
        &:hover,&:focus,&.is-active {
            background-color: $accent-color;
            color: #fff;
        }
    
        &--account {
        
            &:before {
                @include bg($c-home-ico);
            }
        
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-home-ico_hover);
                }
            }
        }
        
        &--order {
            
            &:before {
                @include bg($c-order-ico);
            }
            
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-order-ico_hover);
                }
            }
        }
        
        &--wishlist {
    
            &:before {
                @include bg($c-whishlist-ico);
            }
    
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-wishlist-ico_hover);
                }
            }
        }
        
        &--view {
    
            &:before {
                @include bg($c-view-ico);
            }
    
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-view-ico_hover);
                }
            }
        }
        
        &--discount {
    
            &:before {
                @include bg($c-discount-ico);
            }
    
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-discount-ico_hover);
                }
            }
        }
        
        &--settings {
    
            &:before {
                @include bg($c-settings-ico);
            }
    
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-settings-ico_hover);
                }
            }
        }
        
        &--logout {
            
            &:before {
                @include bg($c-logout-ico);
            }
    
            &:hover,&:focus,&.is-active {
                &:before {
                    @include bg($c-logout-ico_hover);
                }
            }
        }
    }
}

.bonus-label {
    padding: 22px 30px;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    display: inline-block;
    margin-bottom: 30px;
    &__title {
        color: #6a6a6a;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        display: block;
    }
    
    &__link {
        color: $accent-color;
        font-family: $open-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-decoration: underline;
        display: inline-block;
        
        &:hover,&:focus,&:active {
            color: $accent-color;
            text-decoration: none;
        }
    }
}

.form-line {
    background-color: #f5f5f5;
    padding: 20px 30px;
    margin-bottom: 20px;
    
    &__title {
        margin: 0 0 10px 0;
        color: #6a6a6a;
        font-weight: 700;
        font-size: 48px;
        
        &--small {
            font-size: 24px;
            margin: 0 0 0 0;
        }
    }
    
    &__subscribe {
        
        label {
            cursor: pointer;
            color: #010101;
            font-family: $open-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            display: inline-block;
            
            &:hover,&:focus {
                color: $accent-color-2;
            }
        }
        
        input[type='checkbox'] {
            display: none;
        }
        
        span {
            display: inline-block;
            vertical-align: bottom;
            width: 22px;
            height: 22px;
            background-color: #fff;
            border: 1px solid $accent-color-2;
            border-radius: 3px;
            margin-right: 10px;
            position: relative;
        }
    
        input[type='checkbox']:checked + span {
            
            &:after {
                content: '';
                display: block;
                @include center;
                @include bg($check);
            }
        }
    }
    
    &__save {
        margin-top: 30px;
        a {
            @extend .std-btn;
            margin: 0 auto;
        }
    }
}

.form-item {
    
    &__in {
        display: flex;
        flex-wrap: wrap;
        
        &--small {
            
            .form-item__line {
                width: 230px;
            }
        }
    }
    
    &__line {
        width: 360px;
        margin-right: 30px;
        margin-top: 30px;
        
        &--small {
            width: 230px;
            margin-right: 0;
        }
    }
    
    &__field {
        @extend .std-input;
    }
    
    &__btn {
        @extend .std-btn-inverse;
        background-color: transparent;
    }
}
