mixin settings-page
    .c-cabinet
        .container-fluid
            .c-cabinet__in
                aside.c-cabinet__aside
                    .c-cabinet-panel
                        .c-cabinet-panel__title
                            span Account page
                        .c-cabinet-panel__login
                            span Welcome
                            span
                                strong Alexander Smith
                        .c-cabinet-panel__list
                            ul.c-cabinet-nav
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--account(href='#') Home
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--order.is-active(href='#') Orders
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--wishlist(href='#') Wishlist
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--view(href='#') Viewed
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--discount(href='#') Earn Discount
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--settings(href='#') Settings
                                li.c-cabinet-nav__item
                                    a.c-cabinet-nav__link.c-cabinet-nav__link--logout(href='#') Log Out
                        .c-cabinet-panel__footer
                            .c-cabinet-panel__phone
                                a(href='tel:0800707808') 0 800 707-808
                            .c-cabinet-panel__support
                                a(href='#') Online support

                .c-cabinet__main
                    .bonus-label
                        span.bonus-label__title Your bonus: $105
                        a(href='#').bonus-label__link Increase the discount - it's easy!
                    .form-line
                        h1.form-line__title Personal profile
                        .form-line__in
                            .form-item
                                .form-item__in
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='First name' name='name1')
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='Second name' name='name2')
                                    .form-item__line
                                        input.form-item__field(type='tel' placeholder='Phone' name='phone')
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='Cellphone' name='cellphone')
                                    .form-item__line.form-item__line--small
                                        button.form-item__btn Change
                    .form-line
                        h1.form-line__title.form-line__title--small Billing Address
                        .form-line__in
                            .form-item
                                .form-item__in
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='Address line 1' name='address1')
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='Address line 2' name='address2')
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='City' name='city')
                                    .form-item__line
                                        input.form-item__field(type='text' placeholder='Zip code' name='zip')
                                    .form-item__line.form-item__line--small
                                        button.form-item__btn Change
                    .form-line
                        h1.form-line__title.form-line__title--small Change Email
                        .form-line__in
                            .form-item
                                .form-item__in.form-item__in--small
                                    .form-item__line
                                        input.form-item__field(type='email' placeholder='Email' name='email')
                                    .form-item__line
                                        input.form-item__field(type='email' placeholder='New Email' name='newEmail')
                                    .form-item__line
                                        input.form-item__field(type='email' placeholder='Repeat Email' name='repeatEmail')
                                    .form-item__line.form-item__line--small
                                        button.form-item__btn Change
                    .form-line
                        h1.form-line__title.form-line__title--small Change Password
                        .form-line__in
                            .form-item
                                .form-item__in.form-item__in--small
                                    .form-item__line
                                        input.form-item__field(type='password' placeholder='Password' name='pass')
                                    .form-item__line
                                        input.form-item__field(type='password' placeholder='New Password' name='newPass')
                                    .form-item__line
                                        input.form-item__field(type='password' placeholder='Repeat Password' name='repeatPass')
                                    .form-item__line.form-item__line--small
                                        button.form-item__btn Change
                    .form-line__subscribe
                        label
                            input(type='checkbox')
                            span
                            |Subscribe to newsletter

                    .form-line__save
                        a(href='#') Save Changes
