section.card-description
    .container-fluid
        .card-description__tabs-block
            .card-description__tabs-block-flex
                +self-tabs
                aside.card-description__aside
                    .reviews-block
                        h5.reviews-block__title
                            span.reviews-block__title-text Reviews
                        .reviews-block__content
                            mixin r-item
                                .r-item
                                    .r-item__inner
                                        .r-item__content
                                            h4.r-item__content-name John Doe
                                            .r-item__content-rating
                                                .rating
                                                    .rating__item.rating__item--no-click(data-rate='5')
                                                    .rating__item.rating__item--no-click(data-rate='4')
                                                    .rating__item.rating__item--no-click(data-rate='3')
                                                    .rating__item.rating__item--no-click(data-rate='2')
                                                    .rating__item.rating__item--no-click(data-rate='1')
                                            p.r-item__content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            .r-item__content-bottom
                                                span.r-item__content-data 17.08.2017
                                                .r-item__content-likes
                                                    a.r-item__content-like(href='#') 17
                                                    a.r-item__content-like.r-item__content-like--dislike(href='#') 2
                            +r-item
                            +r-item
                            +r-item

                            .reviews-block__content-links
                                a(href='#').reviews-block__content-link.h-link.h-link-nowrite 26 Reviews
                                a(href='#').reviews-block__content-link.h-link.h-link-write Write a review
        .card-description__tabs-block.block-hidden#sc-block
            a(href='#').card-description__return.h-link Return to description
            .card-description__tabs-block-flex
                .card-description__tabs-block-inner
                    h3.card-description__tabs-block-title Reviews
                    mixin r-item
                        .r-item
                            .r-item__inner
                                .r-item__content
                                    h4.r-item__content-name John Doe
                                    .r-item__content-rating
                                        .rating
                                            .rating__item.rating__item--no-click(data-rate='5')
                                            .rating__item.rating__item--no-click(data-rate='4')
                                            .rating__item.rating__item--no-click(data-rate='3')
                                            .rating__item.rating__item--no-click(data-rate='2')
                                            .rating__item.rating__item--no-click(data-rate='1')
                                    p.r-item__content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    .r-item__content-bottom
                                        span.r-item__content-data 17.08.2017
                                        .r-item__content-likes
                                            a.r-item__content-like(href='#') 17
                                            a.r-item__content-like.r-item__content-like--dislike(href='#') 2
                    +r-item
                    +r-item
                    +r-item
                    +r-item
                    +r-item
                  
                    a(href='#').card-description__tabs-block-show Show more
                aside.card-description__aside#sticky-block
                    .reviews-block
                        h5.reviews-block__title
                            span.reviews-block__title-text Write a review
                        .reviews-block__content
                            form.reviews-form#review-form
                                .reviews-form__rating
                                    .rating.rating-clickable
                                        .rating__item(data-rate='5')
                                        .rating__item(data-rate='4')
                                        .rating__item(data-rate='3')
                                        .rating__item(data-rate='2')
                                        .rating__item(data-rate='1')
                                .reviews-form__field
                                    input.reviews-form__input(placeholder='Your name' name='name' id='r-name')
                                .reviews-form__field
                                    input.reviews-form__input(placeholder='Email' name='email')
                                .reviews-form__field
                                    textarea.reviews-form__textarea(placeholder='Write a review...' name='area')
                                input.reviews-form__submit(type='submit' value='Leave a review')
    // sticky form page product-card
    script(type='text/javascript').
        (function () {

            var cardItems = document.querySelectorAll('#sc-block .r-item');

            if (cardItems && cardItems.length >= 2) {
                
                var a = document.querySelector('#sticky-block'), b = null, P = 120;  // P - offsetTop(0, +, -) px's;
                window.addEventListener('scroll', Ascroll, false);

            if (matchMedia) {
                var screen = window.matchMedia('(max-width:992px)');
                screen.addListener(Ascroll);
                Ascroll(screen);
            }
                function Ascroll(screen) {
                    if(!screen.matches) {
                        window.addEventListener('scroll', Ascroll);
                        if (b == null) {
                            var Sa = getComputedStyle(a, ''), s = '';
                            for (var i = 0; i < Sa.length; i++) {
                                if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
                                    s += Sa[i] + ': ' + Sa.getPropertyValue(Sa[i]) + '; '
                                }
                            }
                            b = document.createElement('div');
                            b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
                            a.insertBefore(b, a.firstChild);
                            var l = a.childNodes.length;
                            for (var i = 1; i < l; i++) {
                                b.appendChild(a.childNodes[1]);
                            }
                            a.style.height = b.getBoundingClientRect().height + 'px';
                            a.style.padding = '0';
                            a.style.border = '0';
                        }
                        var Ra = a.getBoundingClientRect(),
                            R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('#sc-block').getBoundingClientRect().bottom);  // set block when "sticky" remove; Math.round for IE only; // P - offsetTop(0, +, -) px's;
                        if ((Ra.top - P) <= 0) {
                            if ((Ra.top - P) <= R) {
                                b.className = 'unsticky';
                                b.style.top = -R + 'px';
                            } else {
                                b.className = 'sticky';
                                b.style.top = P + 'px';
                            }
                        } else {
                            b.className = '';
                            b.style.top = '';
                        }
                    } else {
                        a.style.height = '100%';
                        a.children[0].removeAttribute('style');
                        window.removeEventListener('scroll', Ascroll);
                    }
                    window.addEventListener('resize', function () {
                        a.children[0].style.width = getComputedStyle(a, '').width
                    }, false);
                }
            }            
        })();
