.card-description {
    margin-bottom: 50px;
    &__aside {
        width: 490px;
        margin-left: 30px;
        flex: 0 0 auto;
    }
    &__tabs-block {
        &-flex {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-title {
            color: $main-color;
            font-weight: 700;
            font-size: 48px;
            margin: 0 0 20px 0;
        }
        &-inner {
            .r-item {
                margin-bottom: 20px;
                &__content {
                    margin-left: 0;
                    &-bottom {
                        justify-content: flex-start;
                    }
                    &-data {
                        margin-right: 45px;
                    }
                }
            }
        }
        &-show {
            @extend .std-btn-inverse;
            margin: 5px auto 10px;
        }
        &.block-hidden {
            display: none;
        }
    }
    &__return {
        position: relative;
        width: 100%;
        display: block;
        margin-bottom: 45px;
        color: $accent-color;
        font-weight: 700;
        font-size: 24px;
        padding-left: 20px;
        line-height: 24px;
        &:after {
            content: '\f104';
            display: block;
            left: 0;
            font-family: FontAwesome, sans-serif;
            @include center(false,true);
            color: $accent-color;
        }
        &:hover {
            text-decoration: underline;
            color: $accent-color;
        }
    }
}

.reviews {
    //content
    &-block {
        width: 490px;
        &__title {
            display: flex;
            align-items: center;
            margin: 0;
            &:before,&:after {
                content: '';
                height: 3px;
                display: inline-block;
                width: 100%;
                background-color: $border-color;
            }
            &-text {
                display: inline-block;
                margin: 0 10px;
                text-align: center;
                color: $main-color;
                font-weight: 700;
                font-size: 24px;
                white-space: nowrap;
            }
        }
        &__content {
            padding: 35px 25px 25px 25px;
            border: 3px solid $border-color;
            border-top: none;
            margin-top: -12px;

            &-links {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
            }
            &-link {
                color: $accent-color;
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                display: block;
                transition: color $color-time;
                &:last-child {
                    margin-left: 20px;
                }
                &:hover,&:focus {
                    text-decoration: underline;
                    color: $accent-color;
                }
            }

            //reviews-item
            .r-item {
                margin: 0 0 30px 0;
                &__content {
                    margin-left: 0;
                }
            }
        }
    }
    //form
    &-form {
        &__field {
            position: relative;
            margin-bottom: 20px;
        }
        &__rating {
            margin: 10px 0 20px 30px;
        }
        &__input,&__textarea {
            @extend .std-input;
            padding: 0 30px;
            outline: none;
        }
        &__textarea {
            padding: 10px 30px;
            height: 95px;
            overflow: auto;
        }
        &__submit {
            @extend .std-btn-inverse;
            width: 100%;
            margin-bottom: 25px;
        }
        label.error {
            text-align: center;
            padding: 0;
        }
    }
}

.desc-info {
    &-block {
        p {
            color: #000;
            font-family: $open-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            margin: 0;
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
        }
    }
    &-item {
        width: 25%;
        margin-bottom: 20px;
        &__img {
            height: 124px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        &__content {
            padding: 0 10px;
            &-text {
                text-align: center;
                display: block;
                color: #000;
                font-family: $open-font;
                font-size: 18px;
                font-weight: 400;
                transform: scale(0.8);
                line-height: 27px;
                word-break: break-word;
            }
        }
    }
}

.methods {
    &__inner {

    }
    &__title {
        color: $main-color;
        font-weight: 700;
        text-align: center;
        font-size: 36px;
        margin: 45px 0 25px 0;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px;
        img {
            margin-right: 128px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__content {

    }
}

