section.services
    .container-fluid
        .services__inner
            mixin services-item(data)
                .services-item
                    .services-item__inner
                        .services-item__img
                            img(src='static/img/content/s-' + data.img + '.jpg')
                        .services-item__content
                            h3.services-item__content-title= data.title
                            p.services-item__content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            +services-item({img: 1, title: 'Handles'})
            +services-item({img: 2, title: 'Pockets'})
            +services-item({img: 3, title: 'Initials'})
            +services-item({img: 4, title: 'Case for accessories'})
            +services-item({img: 5, title: 'Express delivery'})
