.services {
    padding: 0 0 60px 0;
    &-item {
        margin-bottom: 30px;
        &:nth-child(odd) {
            .services-item__content {
                order: -1;
            }
        }
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__img {
            width: 750px;
            flex: 0 0 auto;
        }
        &__content {
            padding: 55px 30px 30px 30px;
            &-title {
                color: $main-color;
                font-weight: 700;
                font-size: 48px;
                margin: 0 0 15px 0;
            }
            &-text {
                color: $main-color;
                font-family: $open-font;
                font-size: 18px;
                font-weight: 400;
                margin: 0;
                line-height: 27px;
            }
        }
    }
}
