.cart-block {
    padding-bottom: 90px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__tabs {
        width: 100%;
    }
    &__products {
        width: 620px;
        flex: 0 0 auto;
        margin-left: 30px;
        margin-top: 80px;
    }
    &__form {
        &-inner {
            display: flex;
            align-items: flex-start;
        }
        &-left {
            width: 100%;
        }
        &-right {
            flex: 0 0 auto;
            width: 390px;
            margin-left: 30px;
        }
        &-title {
            color: $main-color;
            font-weight: 700;
            font-size: 24px;
            line-height: 27px;
            margin: 0 0 25px 0;
            &--left {
                margin-left: 30px;
            }
        }
        // f-block
        .f-block {
            &__inner {
                display: flex;
                justify-content: space-between;
            }
            &__line  {
                flex-direction: column;
                flex: 0 0 auto;
                &:before,&:after {
                    height: 90px;
                    width: 2px;
                }
                margin: 0;
                &-text {
                    margin: 15px 0;
                }
            }
            &__input {
                padding: 0 30px;
            }
            &__left {
                width: 100%;
                max-width: 360px;
            }
            &__right {
                width: 100%;
                max-width: 380px;
            }
        }
    }
    &-payment {
        &__left {
            margin-left: 30px;
        }
    }
    &__option {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        input[type=radio],input[type=checkbox] {
            display: none;
        }
        &-input {
            width: 22px;
            height: 22px;
            background-color: #fff;
            border: 1px solid $border-color;
            display: block;
            flex: 0 0 auto;
            position: relative;
            border-radius: 50%;
            margin-right: 10px;
        }
        &-text {
            color: $main-color;
            font-family: $open-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            display: block;
        }
        input[type=radio]:checked + .cart-block__option-input {
            border-color: $accent-color-2;
            &:after {
                content: '';
                display: block;
                @include center;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                background-color: $accent-color-2;
            }
        }
    }
    &__submit {
        @extend .std-btn;
        width: 100%;
    }
    &__address {
        .pr-total {
            margin: 25px 0;
        }
        .f-block__field {
            margin: 0;
            &.is-active {
                margin-top: 45px;
            }
        }
    }
    label.error {
        text-align: center;
        padding: 0;
    }
}

.address-block {
    margin-bottom: 45px;
    &--toggle {
        margin-bottom: 0;
        display: none;
    }
    &__field {
        margin-bottom: 20px;
        position: relative;
    }
    &__input {
        @extend .std-input;
        padding: 0 30px;
    }
}

.payment-block {
    .cart-block__form-title {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    &__field {
        position: relative;
    }
    &__textarea {
        @extend .std-input;
        height: 190px;
        padding: 10px 30px;
        outline: none;

    }
}


.promo-block {
    margin: 30px 0;
    &__inner {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 490px;
        width: 100%;
    }
    &__input {
        @extend .std-input;
        padding: 0 150px 0 30px;
    }
    &__submit {
        @extend .std-btn;
        position: absolute;
        right: 0;
        width: 140px;
        z-index: 3;
        top: 0;
    }
    label.error {
        bottom: -25px;
    }
}

.pr-total {
    &__line {
        display: flex;
        align-items: center;
    }
    &__text {
        color: $main-color;
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        display: block;
        &--bold {
            font-weight: 700;
        }
    }
}
