section.cart-block
    .container-fluid
        h2.std-title Shopping cart
        .cart-block__inner
            .cart-block__tabs
                +cart-tabs
            .cart-block__products
                mixin g-item
                    .g-block-item
                        .g-block-item__inner
                            a(href='#').g-block-item__img
                                img(src='static/img/content/g-1.png')
                            .g-block-item__content
                                a(href='#').g-block-item__content-title Harry Potter and the Deathly Hallows by Joanna Rowling
                                .g-block-item__bottom
                                    .g-block-item__content-count
                                        +count
                                    .g-block-item__content-price
                                        span.g-block-item__content-cost.g-block-item__content-cost--new $180
                                        strike.g-block-item__content-cost.g-block-item__content-cost--old $260
                            span.g-block-item__close
                +g-item
                +g-item
                +g-item
                +g-item
                .cart-block__products-promo
                    form.promo-block
                        .promo-block__inner
                            input.promo-block__input(placeholder='Enter your coupon here...' name='coupon')
                            input.promo-block__submit(type='submit' value='Apply')
                .cart-block__products-total
                    .pr-total.main-total
                        .pr-total__line
                            span.pr-total__text Sub-total:&nbsp;
                            span.pr-total__text $220
                        .pr-total__line
                            span.pr-total__text Shipping:&nbsp;
                            span.pr-total__text $15
                        .pr-total__line
                            span.pr-total__text Discount 5%:&nbsp;
                            span.pr-total__text $10
                        .pr-total__line
                            span.pr-total__text.pr-total__text--bold Total:&nbsp;
                            span.pr-total__text.pr-total__text--bold $225
