.about {
    &__inner {

    }
    .services-item {
        &:nth-child(odd) {
            .services-item__content {
                order: inherit;
            }
        }
        &__content {
            padding: 0 30px;
            &-text {
                margin-bottom: 25px;
            }
        }
    }
}
