section.contacts
    .container-fluid
        h2.std-title Contacts
        .contacts__inner
            .contacts__desc
                .contacts-description
                    .contacts-description__list
                        ul.contacts-list
                            li.contacts-list__item.contacts-list__item--phone +1 202-349-2963
                            li.contacts-list__item.contacts-list__item--mail example@gmail.com
                            li.contacts-list__item.contacts-list__item--address 3350 M St NW, Washington, DC 20007
            .contacts__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d10712.8241279174!2d35.1219405!3d47.8356018!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1505893429703" frameborder="0" style="border:0" allowfullscreen)
