.contacts {
    padding-bottom: 40px;
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 1270px;
        margin: 0 auto;
    }
    &__desc {
        width: 489px;
        height: 300px;
        background-color: #fff;
        border: 4px solid $accent-color-2;
        flex: 0 0 auto;
    }
    &__map {
        width: 750px;
        iframe {
            width: 100%;
            height: 300px;
        }
    }
}

//- description block
.contacts-description {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background: transparent url(../../static/img/content/contacts-bg.jpg) no-repeat center / cover;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

//- list block
.contacts-list {

    &__item {
        color: #000;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        position: relative;
        padding-left: 30px;
        &:after {
            content: '';
            display: block;
            @include center(false,true);
            left: 0;
            color: $accent-color-2;
            font-family: FontAwesome, sans-serif;
        }
        &--phone {
            &:after {
                content: '\f095';
            }
        }
        &--mail {
           &:after {
               content: '\f0e0';
           }
        }
        &--address {
            &:after {
                content: '\f041';
            }
        }
    }
}
