.c {
    &-block {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 40px;
        .slick {
            &-dots {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                bottom: 0;
                position: absolute;
                width: 100%;
                li {
                    width: 20px;
                    height: 20px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    margin-right: 20px;
                    transition: background-color $color-time, border-color $color-time;
                    &.slick-active {
                        background-color: $accent-color-2;
                        border-color: $accent-color-2;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                button {
                    display: none;
                }
            }
        }
    }
    &-slider {
        position: relative;
        &__item {
            outline: none;
        }
        .slider-arrow-prev {
            left: 30px;
        }
        .slider-arrow-next {
            right: 30px;
        }
    }
}
