section.slider-catalog
    .container-fluid
        .c-block
            .c-slider
                .c-slider__inner
                    mixin c-item
                        .c-slider__item
                            .c-item
                                img(src='static/img/content/sl-1.png')
                    +c-item
                    +c-item
                    +c-item
                    +c-item
                .slider-arrow-prev
                .slider-arrow-next
