mixin product-card-page
    +breadcrumbs
    include section-product-card/section-product-card
    include section-description-card/section-description-card
    +group-sliders('You may also like')
    +group-sliders('Add a charger case')
    +group-sliders('Recently viewed')
