mixin order-page
    .std-block.order
        .container-fluid
            h2.std-title Your order has been successfully received!
            .order__inner(style='background: transparent url(static/img/content/order-1.png) no-repeat right top')
                strong Order #1276
                p We received your order and sent a letter with information
                    br
                    | about the order to your e-mail address.
                    br
                    | Thank you for your purchase!

                p Have questions? We will answer with pleasure!
                    br
                    |Call on the phone.
                    a(href='tel:18000000000') +18000000000
                a.order__btn(href='#') Back to shop
