.order {
    padding: 80px 0 0;
    font-size: 18px;
    line-height: 27px;
    .std-title {
        margin-bottom: 0;
    }
    &__inner {
        padding-top: 20px;
        padding-bottom: 80px;
    }
    strong {
        text-align: center;
        display: block;
    }
    p {
        text-align: center;
        margin-bottom: 40px;
        a {
            color: $accent-color;
            font-family: $open-font;
            font-weight: 700;
            display: inline-block;
            margin-left: 5px;
            &:hover,&:focus {
                text-decoration: underline;
            }
        }
    }
    &__btn {
        @extend .std-btn;
        margin: 0 auto;
    }
}
