mixin product-specific-card-page
    +breadcrumbs
    include section-product-specific-card/section-product-specific-card
    include ../product-card-page/section-description-card/section-description-card
    +group-sliders('You may also like')
    +group-sliders('Add a charger case')
    +group-sliders('Recently viewed')
