.catalog {
    padding: 0 0 90px 0;
    &__inner {
        display: flex;
        align-items: flex-start;
    }
    &__aside {
        width: 360px;
        flex: 0 0 auto;
        margin-right: 30px;
        .card-product__content-color {
            padding-left: 15px;
        }
    }
    &__content {
        width: 100%;
        &-top {
            margin-bottom: 30px;
            &-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &-left {
                display: flex;
                align-items: center;
            }
            &-sorting {
                margin-right: 30px;
            }
        }
        &-list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -15px;
            .pr-item__inner {
                width: 360px;
            }
        }
        &-btn {
            @extend .std-btn-inverse;
            margin: 25px auto 0;
        }
    }
}

.sorting {
    display: flex;
    align-items: center;
    &__title {
        color: $accent-color-2;
        font-family: $open-font;
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin-right: 20px;
    }
    &__select {
        position: relative;
        &:before,&:after {
            content: '';
            display: block;
            @include center(false,true);
            width: 8px;
            height: 1px;
            background-color: #6a6a6a;
        }
        &:before {
            transform: rotate(-45deg);
            right: 15px;
        }
        &:after {
            transform: rotate(45deg);
            right: 20px;
        }
    }
    select {
        width: 190px;
        height: 30px;
        border: 1px solid $border-color;
        border-radius: 15px;
        color: $main-color;
        font-family: $open-font;
        font-size: 16px;
        padding: 0 30px 0 15px;
        font-weight: 400;
        background-color: #fff;
    }
}

.result {
    display: flex;
    align-items: baseline;
    &__title {
        font-size: 16px;
        color: $accent-color-2;
        font-weight: 700;
        display: block;
        margin-right: 5px;
    }
    &__text {
        color: #696969;
        font-family: $open-font;
        font-weight: 400;
        display: block;
        font-size: 16px;
    }
}

.items-count {
    display: flex;
    align-items: center;
    &__title {
        color: $accent-color-2;
        font-weight: 700;
        font-size: 18px;
        display: block;
        margin-right: 20px;
    }
    &__list {
        display: flex;
        align-items: center;
        &-link {
            display: block;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 34px;
            font-weight: 700;
            color: $accent-color;
            border: 1px solid $accent-color;
            border-radius: 50%;
            margin-right: 10px;
            transition: color $color-time, border-color $color-time;
            &:last-child {
                margin-right: 0;
            }
            &:focus,&:hover,&--active {
                border-color: $main-color;
                color: $main-color;
            }
        }
    }
}
