section.reviews
    .container-fluid
        .card-description__tabs-block
            .card-description__tabs-block-flex
                .card-description__tabs-block-inner
                    h3.card-description__tabs-block-title Customer reviews about CaseLibrary
                    mixin r-item
                        .r-item
                            .r-item__inner
                                .r-item__content
                                    h4.r-item__content-name John Doe
                                    .r-item__content-rating
                                        .rating
                                            .rating__item.rating__item--no-click(data-rate='5')
                                            .rating__item.rating__item--no-click(data-rate='4')
                                            .rating__item.rating__item--no-click(data-rate='3')
                                            .rating__item.rating__item--no-click(data-rate='2')
                                            .rating__item.rating__item--no-click(data-rate='1')
                                    p.r-item__content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    .r-item__content-bottom
                                        span.r-item__content-data 17.08.2017
                                        .r-item__content-likes
                                            a.r-item__content-like(href='#') 17
                                            a.r-item__content-like.r-item__content-like--dislike(href='#') 2
                    +r-item
                    +r-item
                    +r-item
                    +r-item
                    +r-item
                    a(href='#').card-description__tabs-block-show Show more
                aside.card-description__aside#sticky-block
                    .reviews-block
                        h5.reviews-block__title
                            span.reviews-block__title-text Write a review
                        .reviews-block__content
                            form.reviews-form#review-form
                                .reviews-form__rating
                                    .rating.rating-clickable
                                        .rating__item(data-rate='5')
                                        .rating__item(data-rate='4')
                                        .rating__item(data-rate='3')
                                        .rating__item(data-rate='2')
                                        .rating__item(data-rate='1')
                                .reviews-form__field
                                    input.reviews-form__input(placeholder='Your name' name='name' id='r-name')
                                .reviews-form__field
                                    input.reviews-form__input(placeholder='Email' name='email')
                                .reviews-form__field
                                    textarea.reviews-form__textarea(placeholder='Write a review...' name='area')
                                input.reviews-form__submit(type='submit' value='Leave a review')
