section.about-video
    .container-fluid
        .about-video__inner
            h2.std-title Manufacturing process
            .responsive-wrap
                iframe(src="https://www.youtube.com/embed/yDv5FIAeyoY" frameborder="0" allowfullscreen)
            .responsive-wrap
                iframe(src="https://www.youtube.com/embed/yDv5FIAeyoY" frameborder="0" allowfullscreen)
